@import "https://pro.fontawesome.com/releases/v5.10.0/css/all.css";
$media-desktop: "only screen and (max-width : 1024px)";
$media-tablet: "only screen and (max-width : 768px)";
$media-mobile: "only screen and (max-width : 600px)";
$media-mobile-sm: "only screen and (max-width : 480px)";

$white: white;
$green: green;
$gray: lighten(gray, 40%);
$font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$transition: all 0.2s linear;
$category-color: #fe6205;
$tiny-shadow: 1px 1px 3px $gray;

@mixin green-button($size) {
  border: none;
  background-color: $green;
  color: $white;
  font-size: $size;
  border-radius: 4px;
  transition: $transition;
  cursor: pointer;
  width: 100%;
  padding: 14px 20px;
  margin: 8px 0;
  &:hover {
    background-color: lighten($green, 10%);
    transition: $transition;
  }
}

@mixin login-register-input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  &:focus,
  &:active,
  &:valid {
    background-color: rgb(226, 239, 241);
    outline: none;
    & + .label {
      transform: translateY(-10%);
      top: -2px;
      z-index: 100;
      font-size: 1rem;
      background-color: #f2f2f2;
    }
  }
}

@mixin label {
  position: absolute;
  top: 50%;
  left: 0.75rem;
  z-index: 1;
  font-size: 1rem;
  transform: translateY(-60%);
  transition: $transition;
}
